<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">IndieStarter</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/projects">Browse</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/reports/funds">Funds Report</a></li>
            <li><a href="/reports/projects">Projects Report</a></li>
          </ul>
        </li>
      </ul>
      <form action="/projects" class="navbar-form navbar-left">
        <div class="search-input">
          <input type="text" name="title"
            class="search-input-form form-control"
            placeholder="Search projects..">
          <span class="glyphicon glyphicon-search search-input-logo"></span>
        </div>
      </form>
        <ul class="nav navbar-nav navbar-right">
          <% if (username === "") { %>
            <li><a type="button" data-toggle="modal" data-target="#loginModal">LOGIN</a></li>
            <li><a type="button" data-toggle="modal" data-target="#signupModal">SIGN UP</a></li>
          <% } else { %>
            <li><a href="/my-projects">My Projects</a></li>
            <li><a role="button" href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;LOGOUT</a></li>
          <% } %>
        </ul>
    </div>
  </div>
</header>

<% include loginmodal %>
<% include signupmodal %>
<% include error_message %>
