<!DOCTYPE html>
<html>
<head>
	<title>IndieStarter</title>
  <% include ../partials/header %>
</head>
<body>
  <% include ../partials/navbar %>
	<h1>Welcome to IndieStarter!</h1>

  <% include ../partials/scripts %>
</body>
</html>
