<!DOCTYPE html>
<html>
<head>
	<title>IndieStarter</title>
	<% include ../partials/header %>
	<link rel="stylesheet" href="styles/myProjects.css">
</head>
<body>
  <% include ../partials/navbar %>
  <div class = "container">
  	<div class="row">
			<a class="col-md-4" href="/projects/1">
			  	<div class="projectcard">
			  		<div class="projectcard-content">
			  			<div class="project-title">Test Project</div>
			  			<div class="project-owner">Tester 123</div>
			  			<div class="project-description">Test test test test</div>
			  		</div>
			  	</div>
			  </a>
			  <a class="col-md-4" href="/projects/2">
			  	<div class="projectcard">
			  		<div class="projectcard-content">
			  			<div class="project-title">Test Project</div>
			  			<div class="project-owner">Tester 123</div>
			  			<div class="project-description">Test test test test</div>
			  		</div>
			  	</div>
			  </a>
				<a class="col-md-4" href="/projects/add">
			  	<div class="projectcard">
			 			<div class="project-add">+ new project</div> 		
			  	</div>
			  </a>
  	</div>
  </div>
  <% include ../partials/scripts %>
</body>
</html>