/*pale-pink: #D8CCCE
pink: #BF8A9A
dark-pink: #946B77;
light-pink: #BD99A5
light-grey: #F2EFED
black : #0C0F0D
grey: #DCDEDD */

 body {
  padding-top: 50px;
 }

 .section-header {
  padding: 10px 0 20px 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .section-title {
    font-size: 22px;
    font-weight: bold;
    padding: 8px 0;
  }
  .section-nav {

  }

.projectcard {
  background-color: #fff;
  border: 1px solid #F2EFED;
  color : #0C0F0D;
  border-radius: 6px;
  height: 440px;
  margin-bottom: 20px;
}
  .projectcard-thumbnail {
    border-radius: 6px 6px 0 0;
    overflow: hidden;
    position: relative;
    height: 180px;
  }
    .projectcard-thumbnail-img {
      width: 100%;
    }

  .projectcard-content {
    padding: 10px;
  }
  .project-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .project-owner {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .project-description {
    font-size: 12px;

  }

.categorycard {
  border-radius: 6px;
  height: 140px;
  background: rgba(191,138,154,0.6);
  position: relative;
  margin-bottom: 12px;
}
  .categorycard-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }

button.btn.btn-lg {
  padding: 12px 20px;
}
.btn-pink {
  background-color: #BF8A9A;
  color: #fff;
}
  .btn-pink:hover {
    color: #fff;
    background-color: #A17482;
  }

.btn-white {
  background-color: #fff;
  color: #A17482;
}
  .btn-white:hover {
    color: #A17482;
    background-color: #F2EFED;
  }

.search-input {
  position: relative;
}
  .search-input-form {
    padding-left: 30px;
    border-radius: 17px;
  }
  .search-input-logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }


/* BOOTSTRAP CAROUSEL OVERRIDE */
.carousel-control {
  color: #0C0F0D;
}
  .carousel-control:hover, .carousel-control:focus {
    color: #0C0F0D;
  }
.carousel-control.left {
  background: none;
}
.carousel-control.right {
  background: none;
}
.carousel-indicators {
  bottom: 0 !important;
}
  .carousel-indicators li {
    border: 1px solid #946B77;
  }
  .carousel-indicators .active {
    background-color: #BF8A9A;
  }

