/*
  pale-pink: #D8CCCE
  pink: #BF8A9A
  light-pink: #BD99A5
  light-grey: #F2EFED
  black : #0C0F0D
*/

.project-add {
	font-size: 20px;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.myproject-container {
  padding-top: 40px;
}
