.search-banner {
  background-color: #F2EFED;
  padding: 40px 0 60px 0;
}
  .search-banner-title {
    font-size: 24px;
    color: #0C0F0D;
    margin-bottom: 12px;
  }

.search-category-item {
  background-color: #D8CCCE;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
}
  .search-category-item.active {
    background-color: #BF8A9A;
  }

.search-result {
  padding: 40px 0 60px 0;
}
