<!DOCTYPE html>
<html>
<head>
	<title>IndieStarter</title>
  <% include ../partials/header %>

  <link rel="stylesheet" href="/styles/stats.css">
</head>
<body>
  <% include ../partials/navbar %>
  
  <!-- Content Here -->
  <h1><%= reportTitle %></h1>
  <% include ./results %>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>
